body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    background-image: url('bonenkai1.jpg');  /* ここで背景画像を指定 */
    background-size: cover;           /* 画面全体に画像がフィットするように */
    background-position: center;      /* 画像の位置を中央に */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
#game {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}
  
#status p {
    margin: 5px 0;
}

#rankingList {
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
  
#rankingList li {
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
